* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loja {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.loja figure {
    color: #9aff01;
}

.loja img {
    width: 250px;
    border-radius: 10px 20px;
}

.loja h2 {
    color: #9aff01;
    font-size: 41px;
}

.loja p {
    
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-left: 5%;    
    margin-bottom: 50px;
}

.sobrebio {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.sobrebio img {
    height: auto;
    width: 400px;
}

.textobio {
    width: 550px;
    margin-left: 1px;
    text-align: left;

}

/* Seção "Formação" */
.box {
    box-shadow: orange;
}

.box h5 {
    color: antiquewhite;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box ul {
    color: antiquewhite;
    font-size: 18px;
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

.main {
    width: 1330px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.textobio h2 {
    color: antiquewhite;
    font-size: 54px;
    text-transform: capitalize;
    margin-bottom: 5px;
    text-shadow: 2px 1px 7px violet;
}

.textobio h5 {
    color: blueviolet;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 2px;

}

.textobio p {
    color: #fff;
    line-height: 28px;
    letter-spacing: 2px;
    font-size: 16px;
}


.bio {
    color: antiquewhite;
}

/* .bio h2 { font-size: 60px; color: rebeccapurple;} */

.bio h5 {
    font-size: 20px;
    color: rosybrown;
    margin-bottom: 20px;
    margin-top: 2px;
}

.chateado {
    background-color: #9aff01;
    color: #162938;
    padding: 40px;
    border-radius: 10px 50px;
    margin: 75px;
    text-align: center;

}

.banner {
    background: url(../imagens/banner1.png);
    background-size: cover;
    height: 57vh;
    /* max-width: 100%; */

}

.fundo {
    /* background-image: url(../imagens/fundo-dois.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: cover; */

}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header img {
    width: 120px;
    display: flex;
}

.txtbio {
    color: #fff;
}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;

}

.navegation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



.navegation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.navegation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}




.livro1 {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(242, 189, 255, 0.753);
    height: 20%;
    border-radius: solid, black, 10px;
}

.livro1 img {
    width: 250px;
    height: 300px;
    cursor: pointer;
}

.livro1 p {
    font-size: 20px;
    margin-top: 100px;
    text-align: left;
    line-height: 1.5rem
}

.livro1 h2 {
    font-size: 25px;
    font-style: italic;
    color: antiquewhite;
    text-align: left;
    margin-top: 75px;
    text-shadow: 2px 3px 3px black;
}


.livro2 {
    background-color: rgba(255, 217, 2, 0.699);
    /* width: 95%; */
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.livro2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.livro2 img {
    width: 250px;
    height: 300px;
}

.livro2 p {
    font-size: 20px;
    margin-top: 5px;
    text-align: left;
    line-height: 1.5rem;
}

.livro2 h2 {
    font-size: 25px;
    font-style: italic;
    text-align: left;
    margin-top: 10px;
    color: antiquewhite;
    text-shadow: 2px 3px 3px black;
}


.livro3 {
    background-color: rgba(180, 180, 180, 0.709);
    /* width: 95%; */
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.livro3 {
    display: flex;
    justify-content: flex-start;
}

.livro3 img {
    width: 250px;
    height: 300px;
}

.livro3 p {
    font-size: 20px;
    margin-top: 40px;
    text-align: left;
    line-height: 1.5rem;
}

.livro3 h2 {
    font-size: 25px;
    font-style: italic;
    color: antiquewhite;
    text-align: left;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 3px 3px black;
}


.livro4 {
    display: flex;
    justify-content: flex-start;
}

.livro4 {

    background-color: rgba(176, 244, 252, 0.624);
    /* width: 95%; */
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

.livro4 img {
    width: 250px;
    width: 200px;
}

.livro4 p {
    font-size: 20px;
    margin-top: 100px;
    text-align: left;
    line-height: 1.5rem;
    color: antiquewhite;
}

.livro4 h2 {
    font-size: 25px;
    font-style: italic;
    color: antiquewhite;
    text-align: left;
    margin-top: 100px;
    text-shadow: 2px 3px 3px rgb(212, 93, 248);

}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    background-color: rgb(0, 0, 0);


}

article {
    box-shadow: rgb(212, 93, 248) 0px 0px 20px;
    padding: 50px 112px;
    border-radius: 26px 81px;
    margin: 95px;
}



footer {
    background-color: blueviolet;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    width: auto;
    height: auto;
    padding: 25px;
    align-items: center;
    text-align: center;

}

footer img {
    border-radius: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    align-items: center;
}

footer p {
    margin-bottom: 20px;
}


.logo-site {
    width: 50%;
    height: 10%;
}

.autorais {
    background-color: #9aff01;
}

.autorais img {
    width: 500px;
    height: 500px;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 20px;

}

.area-login {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1818;
    width: 500px;
    height: 600px;
    left: 100px;
    padding: 1px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login input {
    margin-top: 15px;
    width: 110%;
    height: auto;
    align-items: center;
    justify-content: center;

}

input::placeholder {
    color: #9301fc;
    font-size: 14px;
    margin-left: 2px;
    padding-left: 3px;
    margin-top: 1px;
}

form [type="submit"] {
    display: block;
    background-color: #9aff01;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    padding: 8px;

}


.login h1 {
    font-size: 70px;
    color: blueviolet;
}

.login img {
    height: auto;
    width: 200px;
    margin-top: 10px;

}